/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  font-family: Rubik;
  margin: 0;
  font-weight: 300;
}

#app {
  margin: 0;
  padding: 24px;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  margin-top: 0;
}

.profession-grid {
  display: grid;
  grid-template-columns: 200px 160px 1fr;
  padding: 16px 8px;
  border-bottom: 1px solid #aaa;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

}
